# List

In [1]:
lst = ["hello","manyata", 20, 7.45]

In [2]:
lst

['hello', 'manyata', 20, 7.45]

In [3]:
lst.append("welcome") # append adds the values in end of the list

In [4]:
lst

['hello', 'manyata', 20, 7.45, 'welcome']

In [32]:
lst.index("manyata")  #index returns the position from the list

1

In [33]:
lst.pop()  #pop delets the value from the end of the list

'welcome'

In [34]:
lst

['hello', 'manyata', 20, 7.45]

In [35]:
lst.insert(1,"hi")   #inserts an item at a given position

In [44]:
lst

['hello', 'hi', 'manyata', 20, 7.45]

In [45]:
lst.remove("hello") #removes the item from the list

In [46]:
lst

['hi', 'manyata', 20, 7.45]

# Dictionary

In [1]:
dit = {"name":"manyata","age":20,"number":12345678,"id": 123}

In [2]:
dit

{'name': 'manyata', 'age': 20, 'number': 12345678, 'id': 123}

In [3]:
dit.popitem()  #Removes the last inserted key-value pair

('id', 123)

In [9]:
dit

{'name': 'manyata', 'age': 20, 'number': 12345678}

In [10]:
dit.setdefault("age") #The setdefault() method returns the value of the item with the specified key.

20

In [14]:
dit.copy() #Returns the copy of specified dictionary

{'name': 'manyata', 'age': 20, 'number': 12345678}

In [15]:
dit.keys()  #Returns the keys from dictionary keys

dict_keys(['name', 'age', 'number'])

In [16]:
dit.items()  #Returns the list containing key value pair

dict_items([('name', 'manyata'), ('age', 20), ('number', 12345678)])

# Sets

In [18]:
st = {"manyata","student",20,7.45}

In [19]:
st

{20, 7.45, 'manyata', 'student'}

In [20]:
st1 = {"manyata"}

In [23]:
st.difference(st1)  #Returns a set that contains the difference between two sets

{20, 7.45, 'student'}

In [24]:
st1.add(21)  #Adds an element to the sets

In [25]:
st1

{21, 'manyata'}

In [26]:
st.intersection(st1)  #Returns a set,that is intersection of two other sets

{'manyata'}

In [27]:
st.isdisjoint(st1)   #Returns whether two sets have a intersection or not

False

In [28]:
st.union(st1)  #Returns a set that contains all items from the original set, and all items from the specified sets.

{20, 21, 7.45, 'manyata', 'student'}

# Tuple

In [1]:
tup = ("manyata",20,"student")

In [2]:
tup

('manyata', 20, 'student')

In [3]:
tup.count("manyata")   #It will count the item in the list

1

In [4]:
tup.index(20)    #It will give index of specific item

1

# String

In [5]:
name = "MANYATA"

In [6]:
name.casefold() #Converts string into lower case

'manyata'

In [7]:
txt = "welcome to my world"

In [8]:
txt.endswith("world") #Returns true if string ends with specified value

True

In [9]:
txt.find("my")  #Searches the string for specified value and returns the position where it is found

11

In [10]:
txt.format() #formats specified value in string

'welcome to my world'

In [11]:
txt.isnumeric() #Returns true if all characters in string are numeric

False

In [13]:
xyz = "myworld"

In [14]:
xyz.isidentifier() #Returns true if string is identifier

True